body {
    font-size: 16px;
}

.blog-post {
	font-size: 18px;
}
.project-meta li {
	margin-bottom: 0px;
	list-style-type: none;
}

ul.projects li {
	list-style-type: none;
}

ul.posts li {
    list-style-type: none;
}

ul.posts h2 {
    margin-top: 0px;
}

ul.posts li {
    margin-bottom: 30px;
}